header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    .navbar {
        background-color: transparent !important;
        .nav-link {
            font-size: 14px !important;
            padding: 10px 20px !important;
            cursor: pointer !important;
        }
    }
}

@media screen and (max-width: 992px) {
    header {
        background-color: #fff;
    }
}
